.lbl_FeedBack{text-align:center}.form-group .RadInput{width:100%!important;display:block!important}.width65{width:60%!important}.RadAjaxPanel .width70{width:70%!important}.RadGrid_Bootstrap .rgEditForm [type=image]{padding:6px!important;margin-left:5px}.RadPicker .rcSelect{position:absolute;bottom:1px;right:10px!important;top:-7px!important;overflow:hidden}
.txtbox_indv {
    width: 130px !important; margin-right:10px !important
}