<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/DefCss/cssbndl">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/agency.min.css" />
    <include path="~/Content/font-awesome.min.css" />
    <include path="~/Content/line-icons.css" />
    <include path="~/Content/flag-icon.min.css" />

  </styleBundle>


  <styleBundle path="~/Secound/maincss">

    <include path="~/app-assets/vendors/css/extensions/datedropper.min.css" />

    <include path="~/app-assets/css/vendors.css" />
    <include path="~/app-assets/vendors/css/file-uploaders/dropzone.min.css" />
    <include path="~/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css" />
    <include path="~/app-assets/vendors/css/charts/morris.css" />
    <include path="~/app-assets/vendors/css/extensions/unslider.css" />
    <include path="~/app-assets/vendors/css/weather-icons/climacons.min.css" />
    <include path="~/app-assets/fonts/icomoon.css"/>
    <include path="~/app-assets/fonts/flag-icon-css/css/flag-icon.min.css"/>

    <include path="~/app-assets/vendors/css/forms/icheck/icheck.css" />
      <include path="~/app-assets/vendors/css/forms/icheck/custom.css" />
        <include path="~/app-assets/css/plugins/forms/checkboxes-radios.css" />
        
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <include path="~/app-assets/css/app.css" />
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <include path="~/app-assets/css/core/menu/menu-types/vertical-multi-level-menu.css" />
    <include path="~/app-assets/css/pages/timeline.css" />
    <include path="~/app-assets/css/plugins/file-uploaders/dropzone.css" />
    <include path="~/app-assets/css/core/colors/palette-climacon.css" />
    <include path="~/app-assets/css/pages/login-register.css"/>

    <include path="~/app-assets/vendors/css/forms/selects/select2.min.css" />
   
      
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <include path="~/assets/css/style.css" />
    <include path="~/assets/css/customtelerik.css"/>

  </styleBundle>



  <!--<styleBundle path="~/Secound/maincss">
    <include path="~/app-assets/css/bootstrap.css" />
    <include path="~/app-assets/css/agency.min.css" />
    -->
  <!-- font icons-->
  <!--
    <include path="~/app-assets/fonts/icomoon.css"/>
    <include path="~/app-assets/fonts/flag-icon-css/css/flag-icon.min.css"/>
    <include path="~/app-assets/vendors/css/sliders/slick/slick.css"/>
    <include path="~/app-assets/vendors/css/extensions/pace.css"/>


    <include path="~/app-assets/vendors/css/file-uploaders/dropzone.min.css" />
    <include path="~/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css" />
    <include path="~/app-assets/vendors/css/charts/morris.css" />
    <include path="~/app-assets/vendors/css/extensions/unslider.css" />
    <include path="~/app-assets/vendors/css/weather-icons/climacons.min.css"/>



    <include path="~/app-assets/vendors/css/forms/icheck/icheck.css"/>
    <include path="~/app-assets/vendors/css/forms/icheck/custom.css"/>
    -->
  <!-- END VENDOR CSS-->
  <!--
    -->
  <!-- BEGIN ROBUST CSS-->
  <!--
    <include path="~/app-assets/css/bootstrap-extended.css"/>
    <include path="~/app-assets/css/app.css"/>
    <include path="~/app-assets/css/colors.css"/>
    -->
  <!-- END ROBUST CSS-->
  <!--
    -->
  <!-- BEGIN Page Level CSS-->
  <!--
    <include path="~/app-assets/css/core/menu/menu-types/vertical-multi-level-menu.css"/>
    <include path="~/app-assets/css/core/menu/menu-types/vertical-overlay-menu.css"/>
    <include path="~/app-assets/css/pages/login-register.css"/>

    <include path="~/app-assets/css/pages/timeline.css"/>
    <include path="~/app-assets/css/plugins/file-uploaders/dropzone.css"/>
    <include path="~/app-assets/css/core/colors/palette-climacon.css"/>

    -->
  <!-- END Page Level CSS-->
  <!--
    -->
  <!-- BEGIN Custom CSS-->
  <!--
    <include path="~/assets/css/style.css"/>
    <include path="~/assets/css/customtelerik.css"/> 
    -->
  <!-- END Custom CSS-->
  <!--
  </styleBundle>-->


</bundles>